/* This files serves as a CSS checklist, check everything in here after you have done some styling! */

hr {
  /* If you give a hr a certain color (with border), say red,
  Make sure that the background color of that hr is also red,
  if you'll do this you'll make sure that the hr is filled in properly */
  border: red;
  background-color: red;
  
  /* If you have multiple hr pieces in your code and they have the same css,
  but they do not look the same. Try using border-bottom: So instead of,
  border: 1px; Try: (this will solve a lot of the issues)*/
  border: 0.5px;
  border-bottom: 0.5px;
}
