/* This files serves as a CSS checklist, check everything in here after you have done some styling! */

hr {
  /* If you give a hr a certain color (with border), say red,
  Make sure that the background color of that hr is also red,
  if you'll do this you'll make sure that the hr is filled in properly */
  border: red;
  background-color: red;
}

/* @media */

/* If you do something with media, make sure that you put the highest number of pixels at the top like this */

@media (max-width: 1400px) {
    .visual {
        width: 80%
    }
}

@media (max-width: 1000px) {
    .visual {
        width: 90%
    }
}

@media (max-width: 768px) {
    .visual {
        width: 100%
    }
}
