hr {  
  /* If you have multiple hr pieces in your code and they have the same css,
  but they do not look the same. Try using border-bottom: So instead of,
  border: 1px; Try: (this will solve a lot of the issues)*/
  border: 0.5px;
  border-bottom: 0.5px;
}

SVG
/* if an .svg picture does load in on your device but not on someone elses,
than that's probably because you do not have the right link to it, 
say you made it on dev, and you than bring it to your live environment,
than it still links to dev, that's why that is happening, all you have to do
is change the source from dev to live and it should work!
